.recipe {
    //width: 300px;
    display: inline-block;
    position: relative;

    margin: 10px 20px;
   
    padding: 0;

    cursor: pointer;
}

.recipe__photo:hover {
    box-shadow: 0 0 0 4px white, 0 0 0 6px  #dcdcdc;
}

.recipe__photo {
    height: 20vw;
    width: 20vw;

    border-radius: 15px;
}

.recipe__name {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(0,0,0,0.7);
    display: block;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color:white;

    text-transform: uppercase;
    font-weight: bold;

}