.list{
    margin: 0 auto;
    width: 90vw;
    height: 75vh;
    overflow-y: scroll;
}

.list::-webkit-scrollbar { width: 0; }

.del-margin-bottom {
    margin-bottom: 0;
}

.card-cursor {
    cursor: pointer;
}    
    